<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab *ngFor="let tab of gameTabs" [label]="tab.label">
    <div class="game-grid">
      <mat-grid-list
        [cols]="breakpoint"
        rowHeight="174px"
        gutterSize="10"
        (window:resize)="onResize($event)"
      >
        <mat-grid-tile *ngFor="let game of games$ | async">
          <mat-card class="game-card">
            <div
              *ngIf="game.categories.includes('top')"
              class="corner-ribbon top-left red shadow"
            >
              Top
            </div>
            <div
              *ngIf="game.categories.includes('new')"
              class="corner-ribbon top-right green shadow"
            >
              New
            </div>

            <div
              *ngIf="(jackpots$ | async)![game.id]"
              class="game-card__jackpot"
            >
              {{ (jackpots$ | async)![game.id] }}
            </div>
            <img mat-card-image [src]="game.image" [alt]="game.name" />
            <button class="game-card__button">Play</button>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>
